<!DOCTYPE html>
<html>
<head>
  <style>
  body{
    background-image: url('movies.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
</style>


</head>
<body>
	<p id="notice"><%= notice %></p>

<h1 align ="center" style = "color: blue">MOVIES</h1>

<table align ="center" border="0">
  <thead>
    <tr>
      <th style = "color:blue" >NAME</th>
      <th style = "color:blue" >GENRE</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <!-- <tbody>
    <% @movies.each do |movie| %>

      <tr>
        <td><%= movie.name %></td>
        <td><%= movie.genre %></td> -->
       <!--  <td><%= link_to 'Show', movie %></td>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      <!-- </tr>
    <% end %> -->
  </tbody>
</table>
</body>

</body>
</html>